.gridenha { MARGIN-TOP: 17px; BORDER: 1px #716664 solid; PADDING-TOP: 10px; HEIGHT: 410px; MAX-WIDTH: 310px; }

.s { -WEBKIT-TRANSFORM: scale(0.9); -MOZ-TRANSFORM: scale(0.9); -MS-TRANSFORM: scale(0.9); -O-TRANSFORM: scale(0.9); TRANSFORM: scale(0.9); }

.gridrow.g .griditem { MARGIN-RIGHT: 11px; }

.gridrow.g .griditem:last-child { MARGIN-RIGHT: 0px; }


.enha { WIDTH: 1650px; POSITION: relative; MARGIN: 0 auto 50px; MIN-HEIGHT: 700px; }

.enha .skills { FLOAT: left; }

.enha .skills .header { OVERFLOW: hidden; *zoom: 1;
    margin-top: 20px;
    color: #B6B197;
    font-size: 18px;
}
.enha .skills .header div {height:18px;color: #2B2914; font-size: 8px; FLOAT: right;}

.enha .skills .header h1 { FLOAT: left;MARGIN: 2px 0 0 5px; }
.enha aside .skills { HEIGHT: 400px; MARGIN-TOP: 45px !important; OVERFLOW: auto; }

aside.list {
    WIDTH: 120px;
    HEIGHT: 616px;
    MARGIN: 20px 11px 0 16px;
}

aside.list ul {
    BORDER: 1px #716664 solid;
    MARGIN-TOP: 9px;
    HEIGHT: 640px;
    -WEBKIT-BOX-SHADOW: inset 0 0 28px rgba(255, 234, 0, 0.35);
    -MOZ-BOX-SHADOW: inset 0 0 28px rgba(255, 234, 0, 0.35);
    BOX-SHADOW: inset 0 0 28px rgba(255, 234, 0, 0.35);
}

aside.list ul a {
    COLOR: #B6B197;
    TEXT-DECORATION: none;
}

aside.list ul li {
    HEIGHT: 17px;
    MARGIN: 7px 10px 11px 41px;
    PADDING: 13px 0 8px 18px;
    POSITION: relative;
}

aside.list ul li.active {
    BACKGROUND-IMAGE: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #876E34), color-stop(100%, #3F3318));
    BACKGROUND-IMAGE: -webkit-linear-gradient(top, #876E34, #3F3318);
    BACKGROUND-IMAGE: -moz-linear-gradient(top, #876E34, #3F3318);
    BACKGROUND-IMAGE: -o-linear-gradient(top, #876E34, #3F3318);
    BACKGROUND-IMAGE: linear-gradient(top, #876E34, #3F3318);
    -WEBKIT-BOX-SHADOW: inset 0 0 6px #937E43;
    -MOZ-BOX-SHADOW: inset 0 0 6px #937E43;
    BOX-SHADOW: inset 0 0 6px #937E43;
}

aside.list ul li div {
    HEIGHT: 48px;
    WIDTH: 48px;
    -WEBKIT-TRANSFORM: scale(0.8);
    -MOZ-TRANSFORM: scale(0.8);
    -MS-TRANSFORM: scale(0.8);
    -O-TRANSFORM: scale(0.8);
    TRANSFORM: scale(0.8);
    POSITION: absolute;
    TOP: -11px;
    LEFT: -46px;
    BORDER: 6px black solid;
}

.classes-Sorcerer {BACKGROUND: url('./Enhancement/list.png') no-repeat 0 0;}
.classes-Wizard {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -50px; }
.classes-Druid {BACKGROUND: url('./Enhancement/list.png') no-repeat 0 -200px; }
.classes-Cleric {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -150px; }
.classes-Artificer {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -250px; }
.classes-Bard  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -300px; }
.classes-FavoredSoul  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -100px; }
.classes-Paladin  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -350px; }
.classes-Ranger  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -500px; }
.classes-Monk  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -550px; }
.classes-Barbarian  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -450px; }
.classes-Fighter  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -400px; }
.classes-Rogue  {BACKGROUND: url('./Enhancement/list.png') no-repeat  0 -600px; }
.icon { BACKGROUND: url('./Enhancement/icon.png') no-repeat; }
.icon-taken { BACKGROUND: url('./Enhancement/icon_taken.png') no-repeat; }
