{{#model}}
<div id={{dID}} class=skills>
    <div class=header>
        <div class=destinies-{{dID}}></div>
        <h1>{{name}}</h1></div>
    <div class="grid trees-{{dID}}">
        <div class=gridrow>
            <div class="6a griditem"> {{#6a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-6a>0</span>/{{ranks}} {{/6a}}
            </div>
            <div class="6b griditem"> {{#6b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-6b>0</span>/{{ranks}} {{/6b}}
            </div>
            <div class="6c griditem"> {{#6c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-6c>0</span>/{{ranks}} {{/6c}}
            </div>
            <div class="6d griditem"> {{#6d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-6d>0</span>/{{ranks}} {{/6d}}
            </div>
            <div class="6e griditem"> {{#6e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-6e>0</span>/{{ranks}} {{/6e}}
            </div>
        </div>
        <div class=clear></div>
        <div class=gridrow>
            <div class="5a griditem"> {{#5a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-5a>0</span>/{{ranks}} {{/5a}}
            </div>
            <div class="5b griditem"> {{#5b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-5b>0</span>/{{ranks}} {{/5b}}
            </div>
            <div class="5c griditem"> {{#5c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-5c>0</span>/{{ranks}} {{/5c}}
            </div>
            <div class="5d griditem"> {{#5d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-5d>0</span>/{{ranks}} {{/5d}}
            </div>
            <div class="5e griditem"> {{#5e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-5e>0</span>/{{ranks}} {{/5e}}
            </div>
        </div>
        <div class=clear></div>
        <div class=gridrow>
            <div class="4a griditem"> {{#4a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-4a>0</span>/{{ranks}} {{/4a}}
            </div>
            <div class="4b griditem"> {{#4b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-4b>0</span>/{{ranks}} {{/4b}}
            </div>
            <div class="4c griditem"> {{#4c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-4c>0</span>/{{ranks}} {{/4c}}
            </div>
            <div class="4d griditem"> {{#4d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-4d>0</span>/{{ranks}} {{/4d}}
            </div>
            <div class="4e griditem"> {{#4e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-4e>0</span>/{{ranks}} {{/4e}}
            </div>
        </div>
        <div class=clear></div>
        <div class=gridrow>
            <div class="3a griditem"> {{#3a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-3a>0</span>/{{ranks}} {{/3a}}
            </div>
            <div class="3b griditem"> {{#3b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-3b>0</span>/{{ranks}} {{/3b}}
            </div>
            <div class="3c griditem"> {{#3c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-3c>0</span>/{{ranks}} {{/3c}}
            </div>
            <div class="3d griditem"> {{#3d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-3d>0</span>/{{ranks}} {{/3d}}
            </div>
            <div class="3e griditem"> {{#3e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-3e>0</span>/{{ranks}} {{/3e}}
            </div>
        </div>
        <div class=clear></div>
        <div class=gridrow>
            <div class="2a griditem"> {{#2a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-2a>0</span>/{{ranks}} {{/2a}}
            </div>
            <div class="2b griditem"> {{#2b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-2b>0</span>/{{ranks}} {{/2b}}
            </div>
            <div class="2c griditem"> {{#2c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-2c>0</span>/{{ranks}} {{/2c}}
            </div>
            <div class="2d griditem"> {{#2d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-2d>0</span>/{{ranks}} {{/2d}}
            </div>
            <div class="2e griditem"> {{#2e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-2e>0</span>/{{ranks}} {{/2e}}
            </div>
        </div>
        <div class=clear></div>
        <div class=gridrow>
            <div class="1a griditem"> {{#1a}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-1a>0</span>/{{ranks}} {{/1a}}
            </div>
            <div class="1b griditem"> {{#1b}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-1b>0</span>/{{ranks}} {{/1b}}
            </div>
            <div class="1c griditem"> {{#1c}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-1c>0</span>/{{ranks}} {{/1c}}
            </div>
            <div class="1d griditem"> {{#1d}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-1d>0</span>/{{ranks}} {{/1d}}
            </div>
            <div class="1e griditem"> {{#1e}} {{> ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
                <span class=taken-1e>0</span>/{{ranks}} {{/1e}}
            </div>
        </div>
        <div class=clear></div>
        <div class="gridrow autogrants">
            {{#autogrants}}
            <div class="griditem"> {{> autogrant-ability}}
                <div class="{{dID}}-{{img}} skillimg {{#passive}}{{passive}}{{/passive}}"
                     classname="{{dID}}-{{img}}"></div>
            </div>
            {{/autogrants}}
        </div>
        <div class=clear></div>
        <button class=reset disabled=disabled>Reset Tree</button>
    </div>
    <div class=points><p><span class=avail>24</span> 可用点数. <span class=spent>0</span> 已用点数</p></div>
    <div class=clear></div>
</div>{{/model}}
